.card-container {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  border-radius: 1rem;
  width: 100%;
  gap: 3rem;
}

.card-title {
  font-size: clamp(2rem, 7vw, 7rem);
  color: #ffffff;
  text-align: center;
}

.card-description {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.overview-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview-text span {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #969696;
}

.overview-text p {
  max-width: 50rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #ffffff;
  line-height: 1.5;
}

.info-groups.info-year{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-groups span {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #969696; 
}

.info-groups.info-deliverables {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.deliverable-item {
  background: #262626;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: #ffffff; 
  width: fit-content;
  white-space: nowrap;
  gap: 0.5rem;
}

.info-groups .year-value {
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: #ffffff;
  line-height: 1;
}

.visit-link {
  text-decoration: none;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #969696;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.visit-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: #ffffff;
}


@media (max-width: 900px) {
  .card-description {
    flex-direction: column; 
    gap: clamp(1.5rem, 3vh, 3rem);
  }
  
  .work-info div {
    text-align: left; 
  }
}
