.card-container {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  border-radius: 1rem;
  width: 100%;
  gap: clamp(2rem, 3vh, 5rem);
}

.card-title {
  font-size: clamp(3rem, 7vw, 7rem);
  color: #ffffff;
  text-align: center;
}

.card-description {
  display: flex;
  justify-content: space-between;
  gap: clamp(2rem, 5vw, 6rem);
}

.overview-text {
  flex: 2; 
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.5;
  color: #ffffff;
}

.work-info {
  flex: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: clamp(1rem, 4vh, 3rem) clamp(1rem, 3vw, 3rem);
  align-content: start;
}

.info-groups.info-year{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.info-groups span {
  display: block;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #969696; 
}

.info-groups.info-deliverables {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.info-groups .deliverable-item {
  background: #262626;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  font-weight: 500;
  color: #fff; 
  width: fit-content;
}

.info-groups .year-value {
  font-size: clamp(2rem, 3vw, 3rem);
  color: #ffffff;
  line-height: 1;
}

@media (max-width: 900px) {
  .card-description {
    flex-direction: column; 
    gap: clamp(1.5rem, 3vh, 3rem);
  }

  .work-info {
    width: 100%;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: space-between;
  }

  .work-info div {
    text-align: left; 
  }
}

@media (max-width: 480px) {
  .work-info {
    grid-template-columns: repeat(2, 1fr); 
  }
}