.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  height: calc(100vh - 56px);
  padding: 0rem 2rem 1rem;
  background: #111111;
  gap: 8rem;
  z-index: 0;
}

.hero-content {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.hero-image{
  align-self: center;
}

.hero-image img {
  width: 4rem;
  height: auto;
}

.hero-info {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  align-self: center;
  text-align: center;
  color: #fff ;
}

.hero-button {
  display: flex;
  justify-content: center;
}

.hero-name{
  overflow: hidden; 
  text-align: center; 

}

.my-name {
  display: block;
  font-family: "Pavot-Bold";
  white-space: nowrap;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 0.7;
  letter-spacing: -0.02em;
  overflow: hidden;
}

@media (max-width: 900px) {
   .hero{
    padding: 0rem 1rem 1rem;
    gap: 0rem;
   }

   .hero-content{
      margin: auto 0;
   }

   .my-name{
    line-height: 1;
   }
}

