.hero {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0rem 2rem 0rem;
  background: #111111;
  z-index: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.hero-image{
  align-self: center;
}

.hero-image img {
  width: 4rem;
  height: auto;
}

.hero-info {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  align-self: center;
  text-align: center;
  color: #fff ;
}

.hero-button {
  display: flex;
  justify-content: center;
}

.hero-name{
  line-height: 1;
  overflow: hidden; 
  text-align: center; 
}

.my-name {
  display: block;
  font-family: "Pavot-Bold";
  white-space: nowrap;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1;
  overflow: hidden;
}

@media (max-width: 900px) {
   .hero{
    padding: 0rem 1rem 1rem;
   }
}

