.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  overflow: hidden;
  padding: 0.75rem;
  border-radius: 1.25rem;
  background-color: #969696;
  border: 1px solid #111111;
  text-decoration: none;
  color: #171717;
  font-size: 1.25rem;
  line-height: 1;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.button span {
  display: block;
  transition: transform 0.35s ease;
}

.button::after {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 180%);
  transition: transform 0.35s ease;
  color: #ffffff;
  white-space: nowrap;
}

.button:hover {
  background-color: #111111;
  border: 1px solid #969696;
}

.button:hover span {
  transform: translateY(-180%);
}

.button:hover::after {
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .button{
    padding: 0.75rem;
    font-size: 1rem;
  }
}