.selectedWork {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: 100%;
  padding: 7rem 2rem;
  background: #262626;
  gap: 3rem;
  z-index: 2;
}

.work-header {
  display: flex;
  justify-content: space-between;
  font-family: "Pavot-Bold";
  font-size: clamp(3rem, 8vw, 8rem);
  color: #ffffff;
  line-height: 0.8;
}

.work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.work-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 1400px) {
  .work-content {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .selectedWork {
    padding: 7rem 1rem;
    gap: 1.5rem;
  }

  .work-content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
