.about {
    display: flex;
    position: sticky;
    background: #262626;
    padding: 5rem 2rem;
    gap: clamp(1.5rem, 3vw, 5rem);
    z-index: 2;
}

.about-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: clamp(2rem, 3vw, 5rem);
}

.about-header {
    display: flex;
    font-family: "Pavot-Bold";
    letter-spacing: 0.03em;
    font-size: clamp(3rem, 8vw, 8rem);
    color: #ffffff;
    line-height: 0.8;
    gap: 1rem;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: #fff;
    gap: 1.5rem;
}

.about-stats {
    display: flex;
    justify-content: center;
    gap: clamp(1.5rem, 3vw, 3rem);
    padding-top: 1rem;
    border-top: 1px solid #3f3f3f;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stat-number {
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 500;
    color: #ffffff;
    line-height: 1;
}

.stat p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    letter-spacing: 0.05em;
    color: #969696;
}

.about-image {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
}

.about-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 14 / 9;
    object-fit: cover;
}

@media (max-width: 900px) {
    .about {
        flex-direction: column;
        padding: 4rem 1rem;
    }

    .about-content{
        flex-direction: column;
    }

    .about-header {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .about-stats{
      justify-content: center;
    }
}